$header-background: url('../img/m-h-day.jpg') no-repeat 0 60%;
$text-color: #2c2f3a;
$sticks-color: #14a0c7;
$background-color: #21232d;
$button: #699901;
$body-background: #fff;
$gradient: linear-gradient(to right, #639314 0%, #305ecd 100%);
